/* you can add to or change this. */
:root {
  --primary: #ac80a0;
  --secondary: #340068;
  --text: #e7ecef;
  --text2: #122e3c;
}

.hidden {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  background-color: var(--primary);
  color: var(--text);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 64px;
}

#hiscoreboard {
  font-weight: bold;
}

#scoreboard {
  font-weight: bold;
}

#start button {
  font-size: 24px;
  font-weight: bold;
  width: 155px;
  border: none;
  margin-top: 20px;
  padding: 1em 1em;
  border-radius: 10px;
  cursor: pointer;
}

.wrapper {
  background-color: var(--secondary);
  box-sizing: border-box;
  width: 1000px;
  height: 1100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 1em;
}

#game div {
  border: 3px solid black;
  background-color: var(--primary);
  width: 175px;
  height: 150px;
  margin: 20px;
  display: inline-block;
  border-radius: 1em;
}

#game .one {
  background-image: url(./assets/one.gif);
  background-size: cover;
}

#game .two {
  background-image: url(./assets/two.gif);
  background-size: cover;
}
#game .three {
  background-image: url(./assets/three.gif);
  background-size: cover;
}

#game .four {
  background-image: url(./assets/four.gif);
  background-size: cover;
}
#game .five {
  background-image: url(./assets/five.gif);
  background-size: cover;
}

#game .six {
  background-image: url(./assets/six.gif);
  background-size: cover;
}
#game .seven {
  background-image: url(./assets/seven.gif);
  background-size: cover;
}

#game .eight {
  background-image: url(./assets/eight.gif);
  background-size: cover;
}

.hide-color {
  background-image: none !important;
  background-color: var(--text) !important;
}

#restart {
  font-size: 24px;
  font-weight: bold;
  width: 155px;
  border: none;
  margin-top: 15px;
  padding: 1em;
  border-radius: 10px;
  cursor: pointer;
  align-self: center;
}
