/* you can add to or change this. */

#game div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.hidden {
  display: none;
}

#game .red.flipped {
  background-color: red;
}

#game .blue.flipped {
  background-color: blue;
}

#game .green.flipped {
  background-color: green;
}

#game .orange.flipped {
  background-color: orange;
}

#game .purple.flipped {
  background-color: purple;
}
